@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2"),
    url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: #0a0119;
  color: #fafbff;
}

h1,
h2,
h3,
h4,
h5,
h5,
strong,
b {
  font-weight: 500;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  font-size: 20px;
  line-height: 24px;
  color: #0a0119;
}

.header {
  padding-top: 100px;
  padding-bottom: 74px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
}

/* .header-menu-item + .header-menu-item {
  margin-left: 80px;
} */

.header-menu-link {
  display: inline-block;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #f9f5ff;
  border-bottom: 1px dotted transparent;
  transition: 0.3s ease-in-out;
}

.header-menu-link:hover {
  /* text-decoration: underline; */
  border-bottom: 1px dotted #fff;
}

.header-img-logo {
  width: 150px;
}

.intro-title {
  font-size: 32px;
  line-height: 39px;
  color: #fafbff;
}

.intro-position {
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  color: #f9f5ff;
}
